.main{
    width: 100vw;
    height: 10vh;
    background-color:#36558F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #D4E4BC;
    margin-left: 2vw;
    font-size: 40px;
    color: #D4E4BC;
}

.menuItems{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    align-items: center;
}

.menuItems > a{
    text-decoration: none;
    color: #D4E4BC;
    font-size: 20px;
    font-weight: bold;
}