<app-navbar></app-navbar>
<div class="main">
    <div class="form">
        <input type="text" class="username" placeholder="UserName">
        <input type="email" class="email" placeholder="Email">
        <input type="file" class="file" placeholder=" Choose File">
        <input type="text" class="password" placeholder=" Enter Password">
        <div class="actions">
            <button class="registerBtn"> Register</button>
            <button class="resetBtn"> Reset</button>
        </div>
    </div>
</div>


